@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
    html { 
        font-family: 'Inter var', sans-serif; 
    }
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1F1F1F;
}

html {
    height: 100%;
}

.navbar {
    overflow: hidden;
}

.navbar a{
    float: left;
    color: #EF233C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3vw;
    transition: 1s;
}

.navbar-right {
    float: right;
}

.navbar-right a:hover {
    color: #F5F5F5;
}

.logo {
    color: #EF233C;
    text-transform: uppercase;
    font-weight: bold;
}

.center {
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    position: absolute;
    bottom: 15%;
}

@media only screen and (min-width: 680px) {
    .navbar a {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1135px) {
    .title {
        font-size: 50px;
    }
}